body {
    background-color: #221133;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    color: #ffffff;
}

nav {
    background-color: #110022;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

nav a {
    font-size: 0.8rem;
    margin: 16px;
    text-decoration: none;
    color: #ffffff;
}

main {
    margin: 0 320px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.page-title {
    margin-top: 40px;
}

.description {
    text-indent: 30px;
    margin: 24px auto;
}

.lists-container {
    display: flex;
    width: 720px;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
}

.optional-list {
    width: 50%;
}

.allowed-list {
    width: 50%;
}

.remove-button {
    background-color: #ff4444;
    color: #ffffff;
    margin-right: 2px;
}

.generated-list {
    margin-top: 16px;
}

.debug {
    border-width: 1px;
    border-style: dashed;
    border-color: red;
}

.blue {
    border-color: blue;
}

.green {
    border-color: green;
}

.pink {
    border-color: pink;
}