body {
    background-color: #221133;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    color: #ffffff;
}

nav {
    background-color: #110022;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

nav a {
    font-size: 0.8rem;
    margin: 16px;
    text-decoration: none;
    color: #ffffff;
}

main a {
    color: #ffffff;
}

main {
    margin: 0 480px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.page-title {
    margin-top: 40px;
    text-align: center;
}

.description {
    text-indent: 30px;
    margin: 24px auto;
}

.lists-container {
    display: flex;
    width: 75%;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
}

.optional-list {
    width: 50%;
}

.allowed-list {
    width: 50%;
}

.remove-button {
    background-color: #ff4444;
    color: #ffffff;
    margin-right: 2px;
    border-radius: 25%;
    border-style: none;
    padding: 1px 4px;
}

.copy-button {
    margin-top: 16px;
}

.generated-list {
    margin-top: 16px;
}

.margin-top-16 {
    margin-top: 16px;
}

.center {
    text-align: center;
}

.debug {
    border-width: 1px;
    border-style: dashed;
    border-color: red;
}

.blue {
    border-color: blue;
}

.yellow {
    border-color: yellow;
}

.pink {
    border-color: pink;
}

@media (orientation: portrait),
(min-width: 0px) {
    h1 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p,
    li {
        font-size: 0.78rem;
    }

    main {
        margin: 8px;
    }

    .lists-container {
        width: 94%;
        border-width: 1px;
        padding: 9px;
    }

    .remove-button {
        padding: 1px 3px;
        margin: 3px 2px 3px 0;
    }

    .about-page h1 {
        font-size: 2rem;
    }

    .about-page .description {
        font-size: 0.95rem;
    }

    .about-page li {
        font-size: 1rem;
    }

    .about-page p {
        font-size: 1rem;
    }
}

@media (max-width: 377px) {

    p,
    li {
        font-size: 0.53rem;
    }

    form input {
        width: 100%;
    }
}